page-about {
    image-viewer.ion-page {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%;
        opacity: 1;
      }
      
      image-viewer.ion-page ion-navbar.toolbar .toolbar-background {
        background-color: transparent;
      }
      
      image-viewer.ion-page ion-navbar.toolbar.toolbar-ios {
        padding-top: calc(20px + 4px);
      }
      
      image-viewer.ion-page ion-navbar .bar-button-default {
        color: white;
      }
      
      image-viewer.ion-page .backdrop {
        will-change: opacity;
      }
      
      image-viewer.ion-page .image-wrapper {
        position: relative;
        z-index: 10;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 56px;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
      
      image-viewer.ion-page .image {
        will-change: transform;
      }
      
      image-viewer.ion-page img {
        display: block;
        width:100% !important;
        height:100% !important;
        margin: 0 auto;
      }


}
