<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-row>
          <ion-col col-4>
              <img src='assets/img/mycloud.png' style='width:60%'>
          </ion-col>
          <ion-col style='align-self: center;' col-4>
                Home
          </ion-col>
      </ion-row>
    </ion-title>
    <ion-buttons end>
    <button ion-button icon-only (click)='logout()'>
      <ion-icon name="log-out"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
   {{message | async | json}}

  <ion-list>
    <ion-item-sliding>
      <ion-item>
          <ion-avatar item-start>
              <img src='{{user?.photoUrl}}' *ngIf='user?.photoUrl' alt='no image avaliable'>
          </ion-avatar>
          <h2>{{user?.displayName}}</h2>
          <small># {{user?.nrOfPic}}</small>
      </ion-item>
        <ion-item-options side='right'>
           <button ion-button icon-only color='primary' (click)='openModal()'>
             <ion-icon name='create'></ion-icon>
           </button>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <hr>
  <!-- <div *ngIf="(storageProgress !== 0 && storageProgress !== 100)">
    <progress-bar [progress]='storageProgress'></progress-bar>
  </div>  -->
<!-- <div style="width:100%">
  <input type='file' (change)="addPic($event)" class="custom-file-input">
</div> -->

<div class="fileUpload btn btn-primary">
  <span>Add PIC</span>
  <input type="file" class="upload" (change)='addPic($event)' />
</div>

<hr>

<ion-list>
  <ion-item-sliding  *ngFor='let img of images | async'>
  <ion-item >
    <ion-thumbnail item-start>
      <img src="{{img?.imgUrl}}" #imageToView (tap)="onClick(imageToView)">
    </ion-thumbnail>
    <div (tap) = "commentImg(img)">
      <h2>{{img?.displayName}}</h2>
      <h4>{{img?.createdAt}}</h4>
      <h4>{{img?.title}}</h4>
      <h4>{{img?.place}}</h4>
      </div>
  </ion-item>
  <ion-item-options side="right">
    <button ion-button icon-only color='primary' (click)='commentImg(img)'>
      <ion-icon name='chatbubbles'></ion-icon>
    </button>
    <button ion-button icon-only color="danger" (click)='deleteImg(img)'>
        <ion-icon name="trash"></ion-icon>
    </button>
  </ion-item-options>
  </ion-item-sliding>
</ion-list>


      
</ion-content>


