<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Create an Account
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class='loginImg'>
    <img src="assets/img/mycloud.png" alt='here should be img'>
</div>
  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Your email address" 
        [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!signupForm.controls.email.valid  && signupForm.controls.email.dirty">
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input formControlName="password" type="password" placeholder="Your password" 
        [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Nickname</ion-label>
      <ion-input formControlName="nickname" type="text" placeholder="Your nickname" 
        [class.invalid]="signupForm.controls.nickname.invalid && signupForm.controls.nickname.touched">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="signupForm.controls.nickname.invalid && signupForm.controls.nickname.touched">
      <div *ngIf="signupForm.controls.nickname.errors.required">
        <p>Username field is required.</p>
      </div>
      <div *ngIf="signupForm.controls.nickname.errors.pattern">
        <p>Not allowed other signs then letters.</p>
      </div>
      <div *ngIf="signupForm.controls.nickname.errors.minlength">
        <p>Minimum 3 characters are needed.</p>
      </div>
      <div *ngIf="signupForm.controls.nickname.errors.maxlength">
        <p>Maximum 30 characters are needed.</p>
      </div>
    </ion-item>


    <button ion-button block type="submit" [disabled]="!signupForm.valid">
      Create an Account
    </button>
  </form>
</ion-content>

